div.img-gallery
    a(ng-style="{visibility: enableNavigation()?'visible': 'hidden'}", ng-click="toPrevious()", href="javascript:void 0", class="btn btn-xs btn-info")
        span.glyphicon.glyphicon-chevron-left
    img.img-gallery-item(ng-src="{{currentImageUrl()}}")
    a(ng-style="{visibility: enableNavigation()?'visible': 'hidden'}", ng-click="toNext()", href="javascript:void 0", class="btn btn-xs btn-info")
        span.glyphicon.glyphicon-chevron-right
