div.modal-container
    div.title
        a.pull-right(data-bind="click: close", href="javascript:void 0")
            span.glyphicon.glyphicon-remove-circle
        h4.result-title.text-primary(data-bind="text: data.name")
    div.body
        p.result-address(data-bind="text: data.address")
        p.result-url
            a(data-bind="attr: {'href': data.url}, text: data.url")
        p.result-categories(data-bind="foreach: data.categories")
            span.result-one-category(data-bind="text: name")
        p.result-features(data-bind="foreach: data.features")
            span.result-one-feature(data-bind="text: $data")
            br
        p.result-hours(data-bind="text: data.hours")
    img-gallery

