form(data-bind="submit: onSubmit")
    div.input-group
        input.form-control(data-bind="textInput: searchTerm", type="text", required)
        span.input-group-btn
            button.btn.btn-primary(type="submit") Go!

