div.search-result-block(ng-show="data.name")
    div.pull-left
        div.result-number
            span.label.label-primary {{number}}
    div.right-pane
        a(ng-click="showDetails(data)", href="javascript:void 0")
            h4.result-title.text-primary {{data.name}}
        p.result-address {{data.address}}
        p.result-url(ng-if="data.url")
            a(ng-href="{{data.url}}", target="_blank") {{data.url}}
        p.result-categories
            span.result-one-category(ng-repeat="categ in data.categories") {{categ}}
        p.result-features
            span.result-one-feature(ng-repeat="feature in data.features") {{feature}}
                br
        p.result-hours {{data.hours}}