extends layout

block content
    div(ng-app="mifexmo-app", ng-controller="AppController")
        div.container-fluid
            div.row
                div.col-md-offset-2.col-md-8.text-center
                    h4 Yandex feature search
            div.row
                div.col-md-4.col-md-offset-4
                    search-form(term="search.term")
            div.row
                div.col-md-12
                    search-result(items="search.result", endless-list, preloader)

        script#search-form-tpl(type="text/ng-template")
            include components/search-form
        script#search-result-tpl(type="text/ng-template")
            include components/search-results
        script#search-result-item-tpl(type="text/ng-template")
            include components/search-result-item
        script#search-result-item-modal-tpl(type="text/ng-template")
            include components/search-result-item-modal
        script#img-gallery-tpl(type="text/ng-template")
            include components/img-gallery

block scripts
    script(src="js/app.js", defer)

block styles
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/app.css')